<div class="api">
	<img class="mb-4" src="/images/api.png" alt="">
	<h1 class="h3 mb-3 font-weight-normal">Área restrita.</h1>
	<p>Leia a documentação desta API <a target="_blank"
			href="https://github.com/laurovitor/social-api/blob/master/README.md">clicando
			aqui</a>.</p>
	<p class="mt-5 mb-3 text-muted">© 2019 Lauro Vitor</p>
</div>